apiVersion: batch/v1
kind: CronJob
metadata:
  name: python-etl
  namespace: mern-app
  labels:
    app: python-etl
spec:
  schedule: "0 * * * *"  # Every hour at minute 0
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 3
  failedJobsHistoryLimit: 3
  jobTemplate:
    spec:
      backoffLimit: 3
      template:
        metadata:
          labels:
            app: python-etl
        spec:
          containers:
            - name: etl
              image: europe-west1-docker.pkg.dev/case-study-486709/mern-app/python-etl:latest
              resources:
                requests:
                  memory: "64Mi"
                  cpu: "50m"
                limits:
                  memory: "128Mi"
                  cpu: "100m"
          restartPolicy: OnFailure
